body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Noticia Text', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}


h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 15px;
	font-family: 'Noto Nastaliq Urdu', serif;
    font-family: 'Roboto', sans-serif;
}

a {
	color: #000;
}

:root{
    /* root color for gradiant background */
    --primary: hsla(225, 21%, 15%, 0.65);
    --secondary: hsla(196, 8%, 56%, 0.65);
}

/* header background */
.header{
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                url(images/engine.jpg) no-repeat center 40% / cover;
    height: 450px;
    position: relative;
    padding: 15px 0 30px;
}

/* Header div, logo + links */
.header-right {
    max-width: 1400px;
    margin: 0 auto;
	padding: 0 12px;
}

/* Home page links */
.home-links{
    text-indent: 70px;
    text-align: center;
    border-radius: 40px;
    font-size: large;
    text-transform: uppercase;
}

/* div header-txt position */
.header-txt {
    position: relative;
    z-index: 1;
}

/* changes the div text position + color, under header-txt */
.header-txt .text {
    color: #fff;
    text-align: center;
    padding: 100px;
    width: 80%;
    margin: auto;
}

/* div header-txt h1 text style */
.header-txt h1{
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    font-weight: bolder;
}

.header-txt h2{
    font-size: 30px;
    line-height: 1.2;
}

/* hover underline link 
.home-links:hover {
    transition: all 0.5s;
    color: #ffffff;
}*/

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo{
    display: inline-block;
    line-height: 1;
}

.logo img{
    display: inline-block;
}
.logo span {
    display: inline-block;
    width: 100%;
}

/*-------------Body---------------- */
.container {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* controls the 2nd img */
.parallax {
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                url(images/pexels-craig-adderley-1563356.jpg) repeat fixed 40% / cover;
}

/* inside parallax, controls how tall to make the img*/
.inner {
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.inner h1{
    position: absolute;
    left: 40%;
    top: 80px;
    font-size: 40px;
}

.inner h2{
    position: absolute;
    left: 37%;
    top: 120px;
    
}


/*.truck-vector{
    background-image: url(images/peterbuilt\ vector.png);
    object-fit: cover;
    position: absolute;
    top: 60px;
    left: 90px;
    
}*/

/* truck vector ontop of inner img */
.over-img {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 25%;
}

/* 3rd section on home pg */
.tools {
    background: url(images/tekton-e6Wr8LaH-Q8-unsplash.jpg) repeat fixed 40% / cover;
}

/*  */
.inside {
    padding-top: 20%;
    padding-bottom: 20%;
}




@media only screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

}
@media only screen and (max-width: 960px){
    .logo {
		margin: 20px auto;
		display: block;
		width: 100px;
	}
	
	.logo img {
		display: block;
		max-width: 100%;
	}
}
@media only screen and (max-width: 600px){
    /* footer settings */
}

/*when screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
