body{
    background: #fff;
    margin: 0;
    padding: 0;
   	font-family: 'Merriweather', serif;
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h1 {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
	font-family: 'Merriweather', serif;
	font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
	font-weight: normal;
}

a {
	color: #000;
}

.header-image{
    background: url(images/engine.jpg) no-repeat center 40% / cover;
    
    height: 600px;
    position: relative;

}
.header-txt{
    text-align: center;
    position: relative;
}
.header-button{
    background-color: white;
}

.logo{
    /* background: url(images/mt.png); */
    display: inline-block;
    line-height: 1;
}

.logo img{
    display: inline-block;
}
.logo span {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #ffff;
}











@media only screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (max-width: 960px){
    .logo {
		margin: 20px auto;
		display: block;
		width: 100px;
	}
	
	.logo img {
		display: block;
		max-width: 100%;
	}
}
@media only screen and (max-width: 600px){
    /* footer settings */
}
